<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="urlrewriteRebuildProducts" xsi:type="object">Sparta\UrlRewriteRebuilder\Console\Command\Rebuilder</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\CatalogUrlRewrite\Observer\CategoryProcessUrlRewriteSavingObserver"
                type="Sparta\UrlRewriteRebuilder\Model\CategoryProcessor" />
    <preference for="Magento\CatalogUrlRewrite\Observer\ProductProcessUrlRewriteSavingObserver"
                type="Sparta\UrlRewriteRebuilder\Model\ProductProcessor" />
    <preference for="Magento\UrlRewrite\Model\Storage\DbStorage"
                type="Sparta\UrlRewriteRebuilder\Model\DbStorage" />
</config>
